@tailwind base;
@tailwind components;
@tailwind utilities;

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-x-180 {
  transform: rotateY(180deg);
}

.hover-rotate-x-180 {
  transform: rotateY(0deg);
  transition: all .2s;
}

.hover-rotate-x-180:hover {
  transform: rotateY(180deg);
}